<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="null" threshold="null">
 

    <appender class="org.apache.log4j.FileAppender" name="FileAppender">
        <param name="File" value="${QPID_WORK}/log/${logprefix}qpid${logsuffix}.log"/>
        <param name="Append" value="false"/>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] (%F:%L) - %m%n"/>
        </layout>
    </appender>

    <appender class="org.apache.log4j.ConsoleAppender" name="STDOUT">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] (%F:%L) - %m%n"/>
        </layout>
    </appender>



    <!-- Set the commons logging that the XML parser uses to WARN, it is very chatty at debug -->
    <logger name="org.apache">
        <level value="WARN"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!--category additivity="true" name="org.apache.qpid">
        <priority value="warn"/>
    </category-->
 
    <!-- Enable info messages for the status-logging hierarchy -->
    <logger additivity="true" name="qpid.message">
      <level value="warn"/>
    </logger>


    <logger name="com.seattleweb">
        <level value="INFO"/>
        <appender-ref ref="STDOUT"/>
    </logger>


    <!-- Log all info events to file -->
    <root>
        <priority value="info"/>
        <appender-ref ref="STDOUT"/>
        <!--appender-ref ref="ArchivingFileAppender"/-->
    </root>

</log4j:configuration>
